/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1080)";*/
/*@import "header.less";*/
/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/
/*.lcw() {
  max-width:1080px;
  margin: 0 auto;
}*/
body {
  margin: 0;
}
video {
  background: #4e565a url(../img/camera.png) no-repeat center;
  background-size: 20%;
}
#localVideo {
  width: 200px;
  height: 150px;
}
#remotesVideos video {
  width: 200px;
  height: 150px;
  margin: 0 15px 15px 0;
}
.panel {
  height: 100vh;
}
.panel--left {
  width: 232px;
  padding: 15px;
  border-right: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
}
.panel--main {
  width: 100vw;
  padding: 15px 15px 15px 245px;
}
