/*@mobile: ~ "(max-width: 767px)";
@tablet: ~ "(min-width: 768px)";
@desktop: ~ "(min-width: 1080)";*/
/*@import "header.less";*/
/*@font-face {
  font-family: Oswald;
  src: url("font/Oswald/Oswald-Light.ttf");
}*/
/*.lcw() {
  max-width:1080px;
  margin: 0 auto;
}*/
body {
  margin: 0;
}
video {
  background: #4e565a url(../img/camera.png) no-repeat center;
  background-size: 20%;
}
#localVideo {
  width: 200px;
  height: 150px;
}
.videoContainer {
  display: inline-block;
  position: relative;
}
.videoContainer video {
  width: 200px;
  height: 150px;
  margin-right: 15px;
}
.videoContainer h6 {
  position: absolute;
  top: 0;
  padding: 0;
  width: 200px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  z-index: 100;
  margin: 0;
  padding: 5px;
}
.videoContainer .connectionstate {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  padding: 0;
  width: 200px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  z-index: 100;
  margin: 0;
  padding: 5px;
}
.panel {
  height: 100vh;
}
.panel--left {
  width: 232px;
  padding: 15px;
  border-right: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
}
.panel--left h6 {
  position: absolute;
  top: 15px;
  padding: 0;
  width: 200px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.33);
  z-index: 100;
  margin: 0;
  padding: 5px;
}
.panel--right {
  width: 232px;
  border-left: 1px solid #ddd;
  position: fixed;
  right: 0;
  top: 0;
}
.panel--main {
  width: 100vw;
  padding: 15px 245px 15px 245px;
}
.chat {
  height: 100%;
  position: relative;
}
.chat__messages {
  height: 50%;
  overflow-y: scroll;
}
.chat__input {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.chat__text {
  resize: none;
  width: 100%;
}
.chat__send {
  width: 100%;
  background: green;
}
.chat__send:disabled {
  background: red;
}
.chat .message {
  border-bottom: 1px solid #eee;
  padding: 15px;
}
.chat .message--yours {
  background: #eee;
  border-color: #ddd;
}
.chat .message__name {
  font-weight: bold;
  text-overflow: ellipsis;
}
.chat .message__text {
  word-wrap: break-word;
}
